{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div style="text-align:center;background-color:rgb(31,35,39);" class="sidebar col-lg-2 col-md-3">
                <h2 style="color:white">Wiki</h2>
                <form style="text-align:right" action="{% url 'search' %}" method="post">
                    {% csrf_token %}
                    <input class="search" type="text" name="title" placeholder="Search Encyclopedia">
                    <input style="margin-top:3px;" class="btn btn-dark" type="submit" value="Search">
                </form>
                <div style="margin-top:3px;">
                    <a style="width:150px" class="btn btn-secondary" href="{% url 'index' %}">Home</a>
                </div>
                <div style="margin-top:3px;">
                    <a style="width:150px;" class="btn btn-secondary" href="{% url 'new_page' %}">Create New Page</a>
                </div>
                <div style="margin-top:3px;">
                    <a style="width:150px" class="btn btn-secondary" href="{% url 'random_page' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>